
/* GENERAL STYLING */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Constantia Regular", "Constantia Regular", serif;
}


body {
    height: 100%;
    display: block;
}


/* NAVBAR STYLING */

.navbar {
    width: 100%;
    
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    border-bottom: 1px solid #efefef;
}

.large-text {
    font-size: 40px;
}

li {
    list-style: none;
    display: inline-block;
    margin:0 20px;
    border-bottom: 1px solid #efefef;
    font-size: 16px;

}

a {
    text-decoration: none;
    color: #7a7a7a;
    text-transform: uppercase;
}


/* MAIN STYLING */

main {
    display: flex;
    flex-direction: column;
}

.container {

    width: 75%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    
}

.content-headers {
    width:5%;
    display: flex;
    margin: auto 25px auto 75px;
}

.content {
    width: 70%;
    margin: auto;
    padding-left: 30px;
    border-left: 5px solid black;
}

#my_work {
    margin-bottom: 200px;
}


/* FOOTER STYLING */

