
/* GENERAL STYLING */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Constantia Regular", "Constantia Regular", serif;
}


body {
    height: 100%;
    display: block;
}



/* NAVBAR STYLING */

.navbar {
   
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    border-bottom: 1px solid #efefef;
}

.navbar-header {
    margin-right: 600px;
    font-size: 40px;
}

.navbar li {
    list-style: none;
    display: inline-block;
    margin:0 20px;
    border-bottom: 1px solid #efefef;
    font-size: 18px;

}

.navbar li a {
    text-decoration: none;
    color: #7a7a7a;
    text-transform: uppercase;
}

.navbar li a:hover {
    color: black;
 }



/* MAIN STYLING */

main {
    display: flex;
    flex-direction: column;
}

main p {
    font-size: 17px;
}

.main-container {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
}

.main-headers {
    width:5%;
    display: flex;
    margin: auto 25px auto 75px;
}



/* ABOUT ME SYLING */

.content {
    display:flex;
    width: 70%;
    margin: auto;
    padding-left: 30px;
    border-left: 5px solid black;
    justify-content: center;
}

.content .portrait {
    border-radius: 4px;
    width: 300px;
    height:300px;
    margin-right: 75px;
}
 .content p{
    margin-right: 300px;
 }



/* MY WORK STYLING */

.my-work {
    display:flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding-left: 30px;
    border-left: 5px solid black;
    justify-content: center;
    align-items: center;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto 30 auto 20;
}

.projects .large-img {
    width: 400px;
}

.small-projects {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.projects .small-img{
    width: 250px;
}

#my_work {
    margin-bottom: 200px;
}



/* MEDIA QUERIES FOR NAVBAR */
@media (max-width: 481px) {
  .navbar {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
}

@media (max-width: 481px) {
    .navbar li {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-bottom: none;
    }
}

@media (max-width: 481px) {
    .navbar h1 {
    margin: auto;
    }
}



/* MEDIA QUERIES FOR MAIN */

@media (max-width: 481px) {
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}

@media (max-width: 481px) {
    .main-headers {
       width:5%;
       display: flex;
       margin: auto 25px 20px 0px;
   }
}



/* MEDIA QUERIES FOR ABOUT_ME */

@media (max-width: 481px) {
    .content .portrait {
        width: 200px;
        height: 200px;
        margin: auto auto auto 200px;
     }
}

@media (max-width: 481px) {
    .content {
        display:flex;
        width: 70%;
        margin: auto;
        border-left: 0px;
    }
 }

 @media (max-width: 481px) {
    .content  p {
        padding-left: 70px;
        margin-right: 200px;
    }
}


/* MEDIA QUERIES FOR MY_WORK */

@media (max-width: 481px) {
    .my-work {
        display:flex;
        width: 70%;
        margin: auto;
        border-left: 0px;
    }
 }
 @media (max-width: 481px) {
    .projects {
        width: 25%;
        display: flex;
        flex-direction: column;
       
        
    
    }
}

@media (max-width: 481px) {
    .small-projects {
        width: 25%;
        display: flex;
        flex-direction: column;
    }
}
